In [36]:

import pandas as pd
import matplotlib.pyplot as plt
import os

import re

In [37]:
import seaborn as sns

In [38]:
!pip3 install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)

In [39]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [40]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [41]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [42]:
import os
cwd = os.getcwd()

df = pd.read_csv(cwd+"/tweets.csv", index_col=0)

In [43]:
df.head()

                                               Tweet
0  üë∏üèΩ Friendswood‚Äôs own R√¢¬Ä¬ôBonney Gabriel, Miss ...
1  EEUU: vamos a pegarle donde m√°s le duele a ese...
2  miss(es) universe, humans are lost, pigs in sp...
3                                   Y todo atr√°s: üôÇüòê
4  Still Pinay!\nREAD: My story on "R'Bonney Gabr...

# **Extracting the column of reviews into a separate dataframe and clean it for semantic analysis**

In [46]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

comments = df.Tweet.str.strip()

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for com in comments:
    com = re.sub('[^a-zA-Z]',' ', com)
    com = com.lower()
    com = com.split()
    com = [lemma.lemmatize(word) for word in com  if word not in set(stopwords.words("english"))]
    com = " ".join(com)
    corpus.append(com)

In [47]:
df['corpus'] = corpus

In [48]:
df.head()

,Tweet,corpus
0,"üë∏üèΩ Friendswood‚Äôs own R√¢¬Ä¬ôBonney Gabriel, Miss ...",friendswood r bonney gabriel miss texas usa mi...
1,EEUU: vamos a pegarle donde m√°s le duele a ese...,eeuu vamos pegarle donde le duele ese pa que u...
2,"miss(es) universe, humans are lost, pigs in sp...",miss e universe human lost pig space
3,Y todo atr√°s: üôÇüòê,todo atr
4,"Still Pinay!\nREAD: My story on ""R'Bonney Gabr...",still pinay read story r bonney gabriel become...

In [49]:
df.dtypes

Tweet     object
corpus    object
dtype: object

In [50]:
df.corpus.unique()

array(['friendswood r bonney gabriel miss texas usa miss usa amp universe',
       'eeuu vamos pegarle donde le duele ese pa que usa nuestra modena para lavar el dinero del narcotrafico',
       'miss e universe human lost pig space', ...,
       'well everyone know miss venezuela winner', 'http co x maqfia',
       'new miss universe usa missuniverse http co vryvlv'], dtype=object)

In [51]:
df

,Tweet,corpus
0,"üë∏üèΩ Friendswood‚Äôs own R√¢¬Ä¬ôBonney Gabriel, Miss ...",friendswood r bonney gabriel miss texas usa mi...
1,EEUU: vamos a pegarle donde m√°s le duele a ese...,eeuu vamos pegarle donde le duele ese pa que u...
2,"miss(es) universe, humans are lost, pigs in sp...",miss e universe human lost pig space
3,Y todo atr√°s: üôÇüòê,todo atr
4,"Still Pinay!\nREAD: My story on ""R'Bonney Gabr...",still pinay read story r bonney gabriel become...
...,...,...
2663,welp,welp
2664,Yasss!!! Proud Pinoy ‚ú®üáµüá≠üíô #71stMissUniverse,yasss proud pinoy stmissuniverse
2665,Well.. everyone knows that Miss Venezuela was ...,well everyone know miss venezuela winner
2666,https://t.co/o3x3MaQfia,http co x maqfia
2667,The new Miss Universe is USA!!! #MISSUNIVERSE ...,new miss universe usa missuniverse http co vryvlv

In [52]:
 df['corpus'].isnull().sum()

0

In [53]:
df.drop(['Tweet'], axis=1)

                                                 corpus
0     friendswood r bonney gabriel miss texas usa mi...
1     eeuu vamos pegarle donde le duele ese pa que u...
2                  miss e universe human lost pig space
3                                              todo atr
4     still pinay read story r bonney gabriel become...
...                                                 ...
2663                                               welp
2664                   yasss proud pinoy stmissuniverse
2665           well everyone know miss venezuela winner
2666                                   http co x maqfia
2667  new miss universe usa missuniverse http co vryvlv

[2668 rows x 1 columns]

In [54]:
df.to_csv(cwd + "/cleaned-Tweets.csv")